In [61]:
import os
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [62]:
df_rain = pd.read_csv("dataset/pr_1901_2015.csv", index_col=0)
df_temp = pd.read_csv("dataset/tas_1901_2015.csv", index_col=0)
#chose you dataset
#wine_base = pd.read_csv("data/winemag-data-130k-v2.csv", index_col=0)
wine_base = pd.read_csv("stemmedData_tf_fullDataset_parsed.csv", index_col=0)
wine_base = wine_base.reset_index()

In [63]:
#to speed up computation drop colum not used if your data is with that colum otherwise don't run

In [64]:
wine_base.head(2)

,country,description,designation,points,price,province,region_1,taster_name,title,variety,winery,new_1,new_2,new_3
0,Italy,tropic broom brimston herb express appl citru ...,Vulkà Bianco,87,17.0,Sicily & Sardinia,Etna,Kerin O’Keefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,0.018182,0.005882,0.000640
1,Portugal,fruiti firm juici red berri drinkabl,Avidagos,87,15.0,Douro,unknown,Roger Voss,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,0.001109,0.000117,0.000113

In [65]:
df_temp = df_temp.reset_index()
df_rain = df_rain.reset_index()


#deal with missing value
wine_base = wine_base[wine_base.country != 'Serbia']
wine_base = wine_base.dropna(subset=['country'])

In [66]:
def state_sing(df):
    df.loc[(df['Country'] == 'ITA'), 'Country'] = 'Italy'
    df.loc[(df['Country'] == 'PRT'), 'Country'] = 'Portugal'
    df.loc[(df['Country'] == 'USA'), 'Country'] = 'US'
    df.loc[(df['Country'] == 'ESP'), 'Country'] = 'Spain'
    df.loc[(df['Country'] == 'FRA'), 'Country'] = 'France'
    df.loc[(df['Country'] == 'DEU'), 'Country'] = 'Germany'
    df.loc[(df['Country'] == 'ARG'), 'Country'] = 'Argentina'
    df.loc[(df['Country'] == 'CHL'), 'Country'] = 'Chile'
    df.loc[(df['Country'] == 'AUS'), 'Country'] = 'Australia'
    df.loc[(df['Country'] == 'AUT'), 'Country'] = 'Austria'
    df.loc[(df['Country'] == 'ZAF'), 'Country'] = 'South Africa'
    df.loc[(df['Country'] == 'NZL'), 'Country'] = 'New Zealand'
    df.loc[(df['Country'] == 'ISR'), 'Country'] = 'Israel'
    df.loc[(df['Country'] == 'HUN'), 'Country'] = 'Hungary'
    df.loc[(df['Country'] == 'GRC'), 'Country'] = 'Greece'
    df.loc[(df['Country'] == 'ROM'), 'Country'] = 'Romania'
    df.loc[(df['Country'] == 'MEX'), 'Country'] = 'Mexico'
    df.loc[(df['Country'] == 'CAN'), 'Country'] = 'Canada'
    df.loc[(df['Country'] == 'TUR'), 'Country'] = 'Turkey'
    df.loc[(df['Country'] == 'CZE'), 'Country'] = 'Czech Republic'
    df.loc[(df['Country'] == 'SVN'), 'Country'] = 'Slovenia'
    df.loc[(df['Country'] == 'LUX'), 'Country'] = 'Luxembourg'
    df.loc[(df['Country'] == 'HRV'), 'Country'] = 'Croatia'
    df.loc[(df['Country'] == 'GEO'), 'Country'] = 'Georgia'
    df.loc[(df['Country'] == 'URY'), 'Country'] = 'Uruguay'
    df.loc[(df['Country'] == 'GBR'), 'Country'] = 'England'
    df.loc[(df['Country'] == 'LBN'), 'Country'] = 'Lebanon'
    df.loc[(df['Country'] == 'YUG'), 'Country'] = 'Serbia'
    df.loc[(df['Country'] == 'BRA'), 'Country'] = 'Brazil'
    df.loc[(df['Country'] == 'MDA'), 'Country'] = 'Moldova'
    df.loc[(df['Country'] == 'MAR'), 'Country'] = 'Morocco'
    df.loc[(df['Country'] == 'PER'), 'Country'] = 'Peru'
    df.loc[(df['Country'] == 'IND'), 'Country'] = 'India'
    df.loc[(df['Country'] == 'BGR'), 'Country'] = 'Bulgaria'
    df.loc[(df['Country'] == 'CYP'), 'Country'] = 'Cyprus'
    df.loc[(df['Country'] == 'ARM'), 'Country'] = 'Armenia'
    df.loc[(df['Country'] == 'CHE'), 'Country'] = 'Switzerland'
    df.loc[(df['Country'] == 'BIH'), 'Country'] = 'Bosnia and Herzegovina'
    df.loc[(df['Country'] == 'UKR'), 'Country'] = 'Ukraine'
    df.loc[(df['Country'] == 'SVK'), 'Country'] = 'Slovakia'
    df.loc[(df['Country'] == 'MKD'), 'Country'] = 'Macedonia'
    df.loc[(df['Country'] == 'CHN'), 'Country'] = 'China'
    df.loc[(df['Country'] == 'EGY'), 'Country'] = 'Egypt'
    return df

In [67]:
list(wine_base)

['country',
 'description',
 'designation',
 'points',
 'price',
 'province',
 'region_1',
 'taster_name',
 'title',
 'variety',
 'winery',
 'new_1',
 'new_2',
 'new_3']

In [68]:
wine_base.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand'], dtype=object)

In [69]:
#parse right state name

In [70]:
df_temp=state_sing(df_temp)

In [71]:
df_rain=state_sing(df_rain)

In [72]:
#check if there all all nations
[x for x in wine_base['country'].unique() if x not in df_rain['Country'].unique()]

[]

In [73]:
wine_base.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand'], dtype=object)

In [74]:
wine_base.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand'], dtype=object)

In [75]:
#sort in a fast way to find 
#rain_d= rain_d.sort_values(by=['Year'])
#rain_d= rain_d.iloc[::-1]

In [76]:
def cleanDataset_2(dataset,columns_to_drop):
    df = dataset
    df = df.drop(columns_to_drop,axis=1)
    df = df[df.country.isnull()==False]
    df = df[df.province.isnull()==False]
    df = df[df.variety.isnull()==False]
    df = df.drop_duplicates(["description","price","points","title"])
    #avgPriceWinery = df.groupby("winery")#.price.mean()
    #df['price'] = df.apply(lambda row: avgPriceWinery.get_group(row["winery"]).price.mean()
    #                       if pd.isnull(row['price']) else row['price'],axis=1)
    #df["price"].fillna(df["price"].mean(),inplace=True) <-- policy of filling with the global mean

    #prende solo recensioni con autore conosciuto, ha senso come cosa?
    #data.dropna(subset=["taster_name"],inplace=True)
    #df = df.drop('description',axis=1)
    #df.price.fillna(0,inplace=True)
    #df['price']=df['price'].astype('int64')
    df = df[df.price.isnull()==False]
    df.fillna('unknown',inplace=True)
    #df = df[df.price.isnull()==False]

    return df

In [77]:
useless_columns=[]

In [78]:
df_2 = cleanDataset_2(wine_base,useless_columns)

In [79]:
wine_base.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand'], dtype=object)

In [80]:
import re
pattern = r"\d{4}"
vintages = []
for elem in df_2.title:
    match = re.findall(pattern,elem)
    year = 0
    if len(match)>1:
        y= int(match[0])
        if y <1952:
            year = 0
        elif y==3000:
            year == 2009
        elif y == 7200:
            year = int(match[1])
        else:
            year= y
    elif len(match)==1:
        y= int(match[0])
        if y <1952:
            year = 0
        elif y==3000:
            year == 2009
        elif year == 7200:
            year = 0
        else:
            year = y
    else:
        year = 0
    vintages.append(year)

se = pd.Series(vintages)
df_2['vintage']=se.values 
df_2.drop('title',axis=1)
df_2.head(5)

,country,description,designation,points,price,province,region_1,taster_name,title,variety,winery,new_1,new_2,new_3,vintage
0,Italy,tropic broom brimston herb express appl citru ...,Vulkà Bianco,87,17.0,Sicily & Sardinia,Etna,Kerin O’Keefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,0.018182,0.005882,0.000640,2013
1,Portugal,fruiti firm juici red berri drinkabl,Avidagos,87,15.0,Douro,unknown,Roger Voss,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,0.001109,0.000117,0.000113,2011
2,US,tart snappi lime flesh domin green pineappl po...,unknown,87,14.0,Oregon,Willamette Valley,Paul Gregutt,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,0.066667,0.010204,0.002160,2013
3,US,pineappl rind lemon pith orang blossom opul no...,Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,Alexander Peartree,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,0.009709,0.002639,0.001767,2013
4,US,much regular bottl rough tannic rustic earthi ...,Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Paul Gregutt,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,0.026316,0.013333,0.007576,2012

In [81]:
#drop reviwe of wine with ventage =0
df_2 = df_2[df_2.vintage != 0]
df_2 = df_2[df_2.vintage != 2017]
df_2 = df_2[df_2.vintage != 2016]

#delete wine where there is no wheter info

In [82]:
df_2.head(2)

,country,description,designation,points,price,province,region_1,taster_name,title,variety,winery,new_1,new_2,new_3,vintage
0,Italy,tropic broom brimston herb express appl citru ...,Vulkà Bianco,87,17.0,Sicily & Sardinia,Etna,Kerin O’Keefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,0.018182,0.005882,0.000640,2013
1,Portugal,fruiti firm juici red berri drinkabl,Avidagos,87,15.0,Douro,unknown,Roger Voss,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,0.001109,0.000117,0.000113,2011

In [83]:
a = df_2['vintage'].unique()

In [84]:
#take only the correct month and the year that are in the wine dataset 
df_rain_filtered = df_rain[(df_rain['Year'].isin(a)) & (df_rain['Month'].isin([5,6,7,8,9])) ]
df_temp_filtered = df_temp[(df_temp['Year'].isin(a)) & (df_temp['Month'].isin([5,6,7,8,9])) ]

In [85]:
df_2 = df_2.set_index(['vintage','country'])
df_2= df_2.sort_index()

In [86]:
#new colum

In [87]:
df_2['pr_5']=0
df_2['pr_6']=0
df_2['pr_7']=0
df_2['pr_8']=0
df_2['pr_9']=0

df_2['tas_5']=0
df_2['tas_6']=0
df_2['tas_7']=0
df_2['tas_8']=0
df_2['tas_9']=0

In [88]:
df_2.head(2)

                                                        description  \
vintage country
1952    Portugal  year ii oak deep oldgold color rich sweet wood...
        Portugal  astonish age rich toffe warm intens concentr d...

                                          designation  points  price province  \
vintage country
1952    Portugal  Porto Envelhecido em Casco Colheita      95  499.0     Port
        Portugal                       Colheita Tawny      96  415.0     Port

                 region_1 taster_name  \
vintage country
1952    Portugal  unknown  Roger Voss
        Portugal  unknown  Roger Voss

                                                              title variety  \
vintage country
1952    Portugal  Messias 1952 Porto Envelhecido em Casco Colhei...    Port
        Portugal              Burmester 1952 Colheita Tawny  (Port)    Port

                     winery  ...    pr_5  pr_6  pr_7  pr_8  pr_9  tas_5  \
vintage country              ...
1952    Portugal    Messias  ...       0     0     0     0     0      0
        Portugal  Burmester  ...       0     0     0     0     0      0

                  tas_6  tas_7  tas_8  tas_9
vintage country
1952    Portugal      0      0      0      0
        Portugal      0      0      0      0

[2 rows x 23 columns]

In [89]:
#this is heavy
#the match the wheter with the dataset

In [90]:
xxxx=df_2
X = xxxx.loc[:,['new_1','new_2','new_3']]
Y=xxxx['points'].values
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42)
lr = LinearRegression()
lr.fit(X_train, y_train)
y_test_pred = lr.predict(X_test)
mse = mean_squared_error(y_test, y_test_pred)
rmse = np.sqrt(mse)
rmse

3.068673813809192

In [91]:
for index, row in df_rain_filtered.iterrows(): 
    try:
        df_2.loc[[[row['Year'],row['Country']]],'pr_'+str(row['Month'])] = row['pr']
        pass
    except KeyError:
        #if there is no wine in that cantry in that year
        pass

In [92]:
for index, row in df_temp_filtered.iterrows(): 
    try:
        df_2.loc[[[row['Year'],row['Country']]],'tas_'+str(row['Month'])] = row['tas']
        pass
    except KeyError:
        #if there is no wine in that cantry in that year
        pass

In [93]:
xxxx=df_2
X = xxxx.loc[:,['new_1','new_2','new_3']]
Y=xxxx['points'].values
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42)
lr = LinearRegression()
lr.fit(X_train, y_train)
y_test_pred = lr.predict(X_test)
mse = mean_squared_error(y_test, y_test_pred)
rmse = np.sqrt(mse)
rmse

3.068673813809192

In [94]:
df_2 = df_2.reset_index()
df_2.head(2)

,vintage,country,description,designation,points,price,province,region_1,taster_name,title,...,pr_5,pr_6,pr_7,pr_8,pr_9,tas_5,tas_6,tas_7,tas_8,tas_9
0,1952,Portugal,year ii oak deep oldgold color rich sweet wood...,Porto Envelhecido em Casco Colheita,95,499.0,Port,unknown,Roger Voss,Messias 1952 Porto Envelhecido em Casco Colhei...,...,120.181,54.8968,13.3656,12.3677,71.6485,16.0018,20.1771,21.6355,21.3967,18.5723
1,1952,Portugal,astonish age rich toffe warm intens concentr d...,Colheita Tawny,96,415.0,Port,unknown,Roger Voss,Burmester 1952 Colheita Tawny (Port),...,120.181,54.8968,13.3656,12.3677,71.6485,16.0018,20.1771,21.6355,21.3967,18.5723

In [95]:
#label each colum that you want to use

from sklearn.preprocessing import LabelBinarizer
lb = LabelBinarizer()

df_2["province"] = df_2["province"].astype('category').cat.codes
df_2["country"] = df_2["country"].astype('category').cat.codes
df_2["taster_name"] = df_2["taster_name"].astype('category').cat.codes
df_2["winery"] = df_2["winery"].astype('category').cat.codes
df_2["region_1"] = df_2["region_1"].astype('category').cat.codes
df_2["variety"] = df_2["variety"].astype('category').cat.codes

In [96]:
xxxx=df_2
X = xxxx.loc[:,['new_1','new_2','new_3']]
Y=xxxx['points'].values
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42)
lr = LinearRegression()
lr.fit(X_train, y_train)
y_test_pred = lr.predict(X_test)
mse = mean_squared_error(y_test, y_test_pred)
rmse = np.sqrt(mse)
rmse

3.068673813809192

In [109]:
#drop some colum
df_2= df_2.drop(['designation','region_1','title'], axis=1)

In [107]:
#to avoi all the previus step you can run from here with an already processed dataset
#df_3.to_csv("stemmed_tf_parsed_weather.csv", encoding='utf-8', index=False)

In [117]:
df_2.head(2)

,vintage,country,description,points,price,province,taster_name,variety,winery,new_1,...,pr_5,pr_6,pr_7,pr_8,pr_9,tas_5,tas_6,tas_7,tas_8,tas_9
0,1952,8,year ii oak deep oldgold color rich sweet wood...,95,499.0,164,13,376,10276,0.100000,...,120.181,54.8968,13.3656,12.3677,71.6485,16.0018,20.1771,21.6355,21.3967,18.5723
1,1952,8,astonish age rich toffe warm intens concentr d...,96,415.0,164,13,376,1703,0.052632,...,120.181,54.8968,13.3656,12.3677,71.6485,16.0018,20.1771,21.6355,21.3967,18.5723

In [120]:
df_2.to_csv("FINAL_stem_tf_parsed_weather.csv", encoding='utf-8', index=False)

In [172]:
df_2 = pd.read_csv("FINAL_stem_tf_parsed_weather.csv", index_col=0)

In [203]:
# here you can select the colum that you want use for regression

#some example
#only normal atribute
#features=['price','country','taster_name','winery','variety','province']
#only wheter
#features=['pr_5','pr_6','pr_7','pr_8','pr_9','tas_5','tas_6','tas_7','tas_8','tas_9']
#only first value of most important tfidf
#features=['new_1','new_2','new_3']
#all
features=['price','country','taster_name','winery','variety','province','new_1','new_2','new_3','pr_5','pr_6','pr_7','pr_8','pr_9','tas_5','tas_6','tas_7','tas_8','tas_9']

In [204]:
X = df_2.loc[:,features]

In [205]:
X.head()

,price,country,taster_name,winery,variety,province,new_1,new_2,new_3,pr_5,pr_6,pr_7,pr_8,pr_9,tas_5,tas_6,tas_7,tas_8,tas_9
vintage,,,,,,,,,,,,,,,,,,,
1952,499.0,8,13,10276,376,164,0.100000,0.100000,0.004785,120.1810,54.8968,13.36560,12.36770,71.6485,16.0018,20.1771,21.6355,21.3967,18.5723
1952,415.0,8,13,1703,376,164,0.052632,0.003597,0.001577,120.1810,54.8968,13.36560,12.36770,71.6485,16.0018,20.1771,21.6355,21.3967,18.5723
1957,375.0,8,13,8743,376,164,0.076923,0.027027,0.004785,92.0486,44.2920,6.72316,7.40562,49.3675,15.0959,18.7823,22.4479,22.4856,20.6839
1961,320.0,8,13,5078,376,164,0.100000,0.058824,0.003185,90.5883,43.2681,25.67690,2.98664,43.9189,18.0467,20.0059,21.9887,23.7509,20.2514
1963,467.0,8,17,6238,376,164,0.090909,0.005952,0.005917,38.1876,48.3052,3.52590,4.78859,29.1487,16.1193,18.4244,22.1413,20.8027,19.1788

In [206]:
Y=df_2['points'].values

In [207]:
Y

array([95, 96, 95, ..., 91, 91, 91])

In [208]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, make_scorer
from sklearn.model_selection import train_test_split

In [209]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42)

In [210]:
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import explained_variance_score, mean_absolute_error, mean_squared_error

liner_regressor_model = LinearRegression()
liner_regressor_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [211]:

predicted_points1 = liner_regressor_model.predict(X_test)

In [212]:
mse= mean_squared_error(y_test, predicted_points1) # The best value is 0 
rmse = np.sqrt(mse)
rmse

2.7784886036769576

In [ ]:
# only basic information (price, reagion, etc) 2.8619646049545886
# only wheater                                 3.0492362814311567
# only tf top1, top2, top3                     3.068673813809192
# all                                          2.7784886036769576

In [169]:
from sklearn.model_selection import KFold

In [170]:
kf = KFold(n_splits=3,random_state=42,shuffle=True)

fold = []
scr = []

for i,(train_index, test_index) in enumerate(kf.split(df_2)):
    training = df_2.iloc[train_index,:]
    valid = df_2.iloc[test_index,:]
    feats = training[features] #defined above
    label = training['points']
    valid_feats = valid[features]
    valid_label = valid['points']
    liner_regressor_model.fit(feats,label) #it is the last one we run, the best one
    pred = liner_regressor_model.predict(valid_feats)
    score = mean_squared_error(y_true = valid_label, y_pred = pred)
    rmse = np.sqrt(score)
    fold.append(i+1)
    scr.append(rmse)
    
#create a small df with the scores
performance = pd.DataFrame({'Score':scr,'Fold':fold})
# let's see what we have with ggplot
#g = ggplot(performance,aes(x='Fold',y='Score')) + geom_point() + geom_line()
print(performance)

      Score  Fold
0  2.860110     1
1  2.875554     2
2  2.864090     3